table.hxl-card {
    table-layout: fixed;
    width: 100%;
}

table.hxl-card th.header {
    text-align: right;
    font-size: 83.333333%;
}

table.hxl-card th.hashtag {
    text-align: left;
    font-size: 83.333333%;
    color: #888888;
    font-weight: normal;
}

table.hxl-card td {
}

.slider-container {
    padding: 2ex 0;
    width: 100%;
}

.slider.slider-horizontal {
    margin: 0 1em;
}